[2018-02-04 11:24] ironhouzi opened #4 "Are you considering using networkx?"
[NetworkX](https://networkx.github.io/) is the most common graph library for Python, and I was expecting this client to be utilizing it.

What are your thoughts on utlizing it?

[2018-02-25 14:03] sandeepsajan0 opened #5 "show error in creating graph"
On creating a graph with  `redis_graph.commit()` , an error is showing in client.py: line-132 "GRAPH.QUERY"
`unknown command 'GRAPH.QUERY'`
help me in fixing this error.

[2018-02-26 12:00] #5 closed

[2018-03-17 20:36] swilly22 commented on #4
An interesting idea,
Let me experiment a bit with NetworkX to see if it's a good match

[2018-03-18 00:12] DeadWisdom commented on #4
NetworkX is mostly about it's wonderful library of algorithms which, using a Redis module, wouldn't do much.  I could see matching its interface (which is already basically there), and allowing easy transfer from NetworkX to Redis Graph and back again.

[2018-03-18 09:18] swilly22 commented on #4
@DeadWisdom thanks,
As I've said above I'm not that familiar with NetworkX, I'll have to read the docs and play with it a bit before deciding rather or not to add support (not sure about details) for RedisGraph to it.

[2018-03-19 23:14] kebot opened #6 "python 3 support ?"
got this error when running the example

![image](https://user-images.githubusercontent.com/289392/37627091-1806a63e-2bd3-11e8-8ee7-eb791d161deb.png)

[2018-03-20 13:54] coleifer commented on #6
Came here to report the same problem. I get issues whether I use bytes or str, e.g. both of these fail:

[code]

[2018-03-28 14:34] R3DDY97 commented on #6
need change the result in byte format to str
[res.decode().split(',') for res in data]
[sent PR](https://github.com/swilly22/redisgraph-py/pull/7)

[2018-03-28 14:37] swilly22 commented on #6
Hi @kebot , @coleifer  Thank you for posting,
It would be great if redisgraph-py would support Python3, I'm a bit occupied with a new version for RedisGraph core.
PRs are highly welcome, otherwise this would have to wait.

[2018-03-29 11:10] #6 closed

[2018-04-12 11:07] Liangchengdeye commented on #4
学习这个网址：http://redisgraph.io/design/
当我执行：query6='GRAPH.QUERY IMDB'MATCH （a：actor） -  [act]  - >（m：movie {title：“Straight Outta Compton”}）RETURN m.title，SUM（a.age），MAX（a.age）， MIN（a.age），AVG（a.age）'
这句代码在Python环境中redis_graph.query(query6).pretty_print()
会发生以下错误：Exception: Row has incorrect number of values, (actual) 1!=3 (expected)
请问如何解决？

[2018-04-12 11:08] Liangchengdeye commented on #4
Learn this web site: http://redisgraph.io/design/
When I execute: query6='GRAPH.QUERY IMDB'MATCH (a:actor) - [act] - > (m:movie {title: "Straight Outta Compton"}) RETURN m.title.
This code is in Python environment, redis_graph.query (query6).Pretty_print ().
The following errors will happen: Exception: Row has incorrect number of values, (actual) 1! =3 (expected).
How to solve it, please?

[2018-07-24 03:15] Liangchengdeye opened #9 "Return value problem"
when i use  pretty_print() method, Only print, no return value,so ,How can i get return value?
And when '，' in value ,redis-cli can return value,but python API can't renturn select back,because "Row has incorrect number of values, (actual) 24!=23 (expected)" it's happend! , So I want to know if ',' are not allowed in data statements. If i use python API.

[2018-07-24 11:31] swilly22 commented on #9
When executing a query, by calling the `query` function you are given a QueryResult object.
In addition to the pretty_print function this object has, you can get direct access to the underline result-set by accessing the `result_set` property, which is an array of records, Please note that the first record is the header row.

[code]

[2018-07-25 02:14] Liangchengdeye commented on #9
ok，I succeeded in solving the problem。

[2018-07-25 02:14] #9 closed

[2018-08-04 09:14] manishtoons opened #10 "Usage examples of functions"
Can you add usage examples for few functions with examples? will be really helpful!

[2018-08-04 09:16] #10 closed

[2018-08-04 09:17] manishtoons commented on #10
just found examples on https://github.com/RedisLabsModules/redis-graph/

[2018-09-28 21:46] stevencox opened #13 "Hanging Commit"
@swilly22 - this code hangs on the commit():

[code]
where out_graph is an instance of this:
[code]
So, **am I doing something wrong with regard to the usage of commit()**?

The code above prints a bunch of nodes and edges, then:
[code]
where it hangs indefinitely.

FWIW, I'm using the docker container version of redisgraph on OSX.

On a related note, the first snippet is a nearly general insert f

[2018-09-29 18:06] swilly22 commented on #13
Hi @stevencox,
Could you give an estimation on the amount of nodes and edges you're trying to create within a single call to `commit`
I would start of with a small graph and see if it still hangs.

Also it might be useful to use Redis`monitor` command to see the exact query which get send by redisgraph-py,

I'm not familiar with NetworkX, I would need to find some time and see what it's all about.

[2018-09-29 18:45] stevencox commented on #13
Hi @swilly22,
Thanks for getting back to me.

Graph size:
[code]
With incremental commits at a batch size of 10, it seems to hang on the first commit:
[code]
But playing with the batch size, it seems to hang after around 6 objects. i.e. it will do five commits or so.

I restarted the docker container to be sure it wasn't hung in some way.

Any suggestions welcome.

[2018-09-30 05:39] swilly22 commented on #13
Alright so the graph is quite small, the fact that you're able to commit in batches, feels like there might be an escaping issue, and so if you could either provide me with Redis `monitor` output or the actual raw data I'll be able to help further.

[2018-10-10 06:57] amitsharma8891 opened #14 "Create Instagram like timeline using RedisGraph"
Hi,

I am creating a system where I need Instagram kind of timeline, where a user can create a post, can follow another user, and can like and share the posts. I wanted to create the aggregated timeline based on users activity on my post.

My requirements are:

1. Aggregated timeline (counts of like and share against that user e.g. Bryan and 10 other like this post)
2. If someone does any activity

[2018-11-27 21:31] schwab opened #15 "Support for MERGE"
Unable to find a way to use the MERGE command with a graph.  MERGE is an extremely handy function since it allows add without a pre-commit check.  Is this planned to be added or should I fork the code?

[2018-12-08 04:31] schwab opened #16 "Correct way to add edges to existing nodes (after commit)"
I'm trying to understand the proper way to find existing nodes in the graph and link them with edges.  What I've observed so far is that if I use
`MERGE (x:thing {name:'uniqueid'})-[:points_at]->(y:otherthing {name:''uniqueid}) `
Then I end up with completely new and distinct x and y things with an edge between them, even if identical things already exist in the graph elsewhere. This is a problem

[2018-12-08 05:43] schwab commented on #16
After some trial and error I found that this pattern works solves the issue quite well...

`MATCH (f:%s{%s:'%s'}), (t:%s{%s:'%s'}) CREATE (f)-[:in]->(t)`

[2018-12-13 21:47] schwab commented on #16
One side effect of this approach is that it seems to use a lot more memory than expected.  For instance, while adding ~ 125k edges to a graph with ~50k nodes, redis cache total memory usage jumped  almost 600MB.  However, after performing redis save then restarting the redis service, the memory usage has dropped from ~ 750mb  to just 150MB.  Is there some kind of clean up step that needs to be per

[2018-12-15 03:11] huawei-tomas opened #18 "dest_node.id and src_node.id are `None` for all edges in list redis_graph.edges"
So I'm wondering if this is expected behavior. I'm trying to construct an `adjacency_matrix` function for
`redis_graph` like they have for [NetworkX](https://networkx.github.io/documentation/networkx-1.9/reference/generated/networkx.linalg.graphmatrix.adjacency_matrix.html) and the src_node and dest_node ids are None so I can't figure out where to put the edge in the adjacency matrix.

[code]
retu

[2018-12-15 09:36] Glitchfix commented on #18
The **id** that you are looking for is referred as **alias**

Just change
[code]

to
[code]

and it works like a charm

[2018-12-18 01:15] schwab opened #20 "Query Result does not recognize when the redis connection has decode_responses=True"
If the underlying redis connection object has been initialized with decode_responses=True, then redis graph throws an exception in the QueryResult_get_value @staticmethod attempting to  decode stat details.

The workaround at this point is to always use decode_responses=False (the default) for any redis connction the that is also used for redisgraph queries; however, this complicates applications

[2018-12-18 01:50] huawei-tomas commented on #18
sure does thanks!

[2018-12-18 01:50] #18 closed

[2018-12-18 12:36] huawei-tomas opened #21 "Persisting numerical data issue"
Running
[code]

raises this error.
[code]

`redis-cli monitor` shows:
[code]

[2018-12-18 12:50] swilly22 commented on #21
Hi @huawei-tomas,
When specifying node attributes, attribute name in this case `0` should be an unquoted string which starts with a character from the set: `[_A-Za-z]`.

[2018-12-18 22:12] huawei-tomas commented on #21
Okay that helped, but now I'm getting an error whenever the value (not the key) representation is in scientific notation.

[code]
Is there a reason scientific notation inside strings seems to be disallowed?

[2018-12-19 07:43] swilly22 commented on #21
@huawei-tomas
Indeed scientific notation should be supported,
Currently we can only handle numerics which follow these patterns:

[0-9]*\.[0-9]+
[0-9]+

We'll have to extend our grammar to accommodate scientific notation.
Would you mind moving this Issue over to [RedisGraph repository](https://github.com/RedisLabsModules/RedisGraph/issues)

Thank you!

[2018-12-19 08:41] swilly22 commented on #20
Hi @schwab
Just to add to the above, the issue occurs when using Python3

`Traceback (most recent call last):
  File "test.py", line 17, in <module>
    redis_graph.commit()
  File "/usr/local/lib/python3.6/dist-packages/redisgraph/client.py", line 136, in commit
    return self.query(query)
  File "/usr/local/lib/python3.6/dist-packages/redisgraph/client.py", line 149, in query
    return QueryRe

[2018-12-19 08:46] swilly22 commented on #16
`MATCH (f:%s{%s:'%s'}), (t:%s{%s:'%s'}) CREATE (f)-[:in]->(t)`
Is the way to go about it, with regard to the increase in memory consumption it's something we'll need to look into.
Can you please provide the RedisGraph version you're using?
Run: `MODULE list` within redis-cli

[2018-12-22 02:46] huawei-tomas commented on #21
Will do thanks!

[2018-12-28 17:44] #21 closed

[2018-12-28 17:58] huawei-tomas opened #22 "Loading graph from previous session"
Hey folks,

I was wondering if anyone could point me to an example of how to load the graph stored in redis from a previous session into a new `Graph`?

I can see the name of the graph in redis but I can't retrieve it with `r.get()` and I'd really like to be able to use the saved graph for new instances through the python API.

[code]

[2018-12-31 11:30] odellus commented on #22
Same person, different account.

So I used `r.type('random')` to see what kind of value is stored in redis since it's obviously not a string and I see the data type `graphdata`. I'm not seeing any methods in redis-py about how to return `graphdata` from redis.

I asked a question about it on [stack overflow](https://stackoverflow.com/questions/53986914/problem-loading-saved-graphdata-back-into-a-r

[2018-12-31 12:41] swilly22 commented on #22
@odellus see my reply at [stackoverflow](https://stackoverflow.com/questions/53986914/problem-loading-saved-graphdata-back-into-a-redisgraph-instance-with-python)

[2018-12-31 16:17] odellus commented on #22
Sounds good. Making the alias/index of the nodes stored in the graph accessible via query in this case could help with reconstructing the original graph. As it stands now I can't think of another way of reconstructing the graph if I don't assign nodes an redundant index as a property.

I think a NetworkX-like interface to saved graphs would be helpful. I'm working on a `adjacency_matrix(redis_grap

[2018-12-31 16:18] #22 closed

[2019-01-14 03:46] XufengXufengXufeng opened #24 "Unknown command error"
OS: Ubuntu 16
python: 3.6
redis: 2.8.19

I am new to redis graph. I don't know where else I can find help.

I followed the Example: Using the Python Client on the title page of this repo. I can't get anything running. Every command, "graph.delete", "graph.commit", "graph.query", are unknown. If anyone, please help.

Thank you.

[2019-01-14 05:48] swilly22 commented on #24
@XufengXufengXufeng seems like you haven't loaded redisgraph to Redis,

Please try running redisgraph using docker:
`docker run -p 6379:6379 -it --rm redislabs/redisgraph`

Then connect to it using redisgraph-py

[2019-01-14 05:54] Glitchfix commented on #24
You could either use the solution mentoined by @swilly22 or load the module directly to make it work
[code]

[2019-01-14 06:47] XufengXufengXufeng commented on #24
Thank you @Glitchfix @swilly22 , I can't use docker right now. While I have tried:

~/$ redis-server --loadmodule /path/to/module/src/redisgraph.so

I got the "Bad directive or wrong number of arguments" error. I am sure my path was correct, as I could cd and vim the path without any problem.

Do you guys know the fix to this redis problem?

Thank you.

[2019-01-14 07:50] XufengXufengXufeng commented on #24
I am so sorry, there was a typo or something. It works now.

Although I tried to add one line to the "loadmodule /path/to/module/src/redsigraph.so" to redis.conf file, it didnot load the module like what I imagined.

[2019-01-15 12:01] Glitchfix commented on #24
@XufengXufengXufeng are you able to query now?

[2019-01-16 10:24] #24 closed

[2019-01-18 06:21] XufengXufengXufeng opened #25 "Edge cannot accept special character."
My project involves Chinese characters. I have no problem create nodes with Chinese naming. However, I am not able to create edge with Chinese naming. I have also tried special characters, such as '*','-', all won't work.

An example would be:

predicate = Edge(obj, '*', cont)
redis_graph.add_edge(predicate)
redis_graph.commit()

Is there a reason for this kind of behavior? Or am I doing it the wr

[2019-01-18 18:34] schwab commented on #25
I've seen a similar problem with utf-8 strings that have either ' or " in them.  Even delimiting them with \' or \" does not correct the issue. For this reason, I've had to pre-hash every string with md-5 hashes and store the delimited strings in redis cache as a hash datatapye.  This can be called with the hashed key and returned instead of the hashed value to callers.  Kinda a PITA, but it's an

[2019-01-18 18:42] schwab commented on #16
Here's my graph version... ```4) 1) "name"
   2) "graph"
   3) "ver"
   4) (integer) 10004```  But I think I can safely witthdraw my claim that the MATCH CREATE calls are using more memory.  I've found 2 things that seemed to be contributing to that issue.  One, I was getting more than a single node for each item which should have been unique because data is added to the same node in more than one

[2019-03-06 06:23] CodifyIt commented on #14
@amitsharma8891 The mentioned requirements are possible, you design the nodes and their corresponding properties according to your needs for e.g consider a node for a post(label) and that has properties as ['creator', 'likes'] etc. and a node for a user(label) and they have a relation such as [:CREATES]. Everything depends on your implementation and design.
It is possible to create what you have m

[2019-03-10 06:54] swilly22 commented on #20
#27

[2019-03-10 06:54] #20 closed

[2019-04-09 05:09] vsraptor commented on #4
any news on this ...

[2019-04-09 10:24] swilly22 commented on #4
@vsraptor, not much to update, we're currently working on restructuring our resultset format, the new structure will enable others to easily construct a visual representation of the result-set.

[2019-04-10 22:49] styk-tv opened #29 "Please confirm Sentinel"
As I'm working on RedisGraph issue [#430](https://github.com/RedisLabsModules/RedisGraph/issues/430) I confirmed Sentinel `sentinel.master_for` and `sentinel.slave_for` return proper types:

[code]

but something makes it blow up. could anyone please confirm that client returned from `slave_for / master_for` works correctly when fed into redisgraph?

Example code i'm using:
[code]

results in exce

[2019-04-11 05:39] swilly22 commented on #29
@styk-tv thanks for reporting, I'm looking into it.

[2019-04-11 12:17] swilly22 commented on #29
This is the setup I've tested:
A single master M running on port 7000
A single slave C running on port 7001 replicating M.
Sentinel S configuration: `sentinel monitor mymaster 127.0.0.1 7000 1`

I've created a graph G on M: `GRAPH.QUERY G "create ()"`

Using the script you've posted:
`from redis.sentinel import Sentinel
from redisgraph import Node, Edge, Graph
sentinel = Sentinel([('localhost', 26

[2019-04-12 01:07] styk-tv commented on #29
Thanks Roi, all good. I should stop doing these things at 3 in the morning. Typo.

[2019-04-12 01:07] #29 closed

[2019-04-22 16:27] daniel-j-h opened #30 "Commit on empty graph throws syntax error"
When calling `.commit()` (or `.flush()` which calls `.commit()`) on an empty graph we still generate a query string and send it over the wire resulting in a syntax error. We should probably simply check if the graph is empty and then don't do anything.

Reproducible with

    docker run -p 6379:6379 -it --rm redislabs/redisgraph:1.0.15

and `redisgraph==1.7` from pip

[code]

results in

[code]

[2019-04-22 16:33] daniel-j-h opened #31 "Stringified numbers in Node labels result in syntax errors"
Even though the Node constructor accepts `str` objects for node labels, it looks like for some reason stringified numbers result in syntax errors.

Reproducible with

    docker run -p 6379:6379 -it --rm redislabs/redisgraph:1.0.15

and `redisgraph==1.7` from pip

[code]

results in

[code]

The workaround is to use character pre- and post-fixed labels such as `a-123-b`. Ugly but works. This looks

[2019-04-22 16:40] daniel-j-h opened #32 "flush swallows underlying exception"
The `.commit()` function can fail, e.g. due to a syntax error or internal problem. At the moment `.flush()` wraps the `.commit()` function but swallows all exceptions and simply prints a message:

https://github.com/RedisGraph/redisgraph-py/blob/c58c1b101f8d4c5d525149843cf0a2cd40708219/redisgraph/client.py#L138-L147

It wouldbe great if this Python client could properly propagate exceptions and al

[2019-04-22 18:25] swilly22 commented on #30
Hi @daniel-j-h, thanks for the report,
I'll address this issue soon, should be an easy fix.

[2019-04-22 18:26] swilly22 commented on #32
@daniel-j-h Agree, I'll change this behavior soon

[2019-04-22 18:30] swilly22 commented on #31
@daniel-j-h correct, this is indeed a syntax error, labels are specified as unquoted strings.

[2019-04-24 19:27] daniel-j-h commented on #31
Is there a reference for the allowed syntax somewhere?

Should the client check the label conforming to the allowed syntax?

[2019-04-25 04:18] swilly22 commented on #31
https://neo4j.com/docs/cypher-manual/current/syntax/naming/
I think a syntax error is sufficient in this case.

[2019-05-28 11:30] gkorland opened #33 "Support python 3"

[2019-05-28 11:33] #33 closed

[2019-06-10 13:29] andreaBelmont opened #40 "IndexError: redis_graph.commit()"
Running this code

[code]

raises:

[code]

redis-cli monitor shows

[code]

The redisgraph.so library was built successfully from commit:

[code]

Could you please help?

Thanks

Andrea

[2019-06-10 14:27] andreaBelmont opened #41 "Exception: redisgraph.query_result.QueryResult.pretty_print"
Running this code:

[code]
raises:

[code]

I am running redisgraph from docker

[code]

[2019-06-10 14:31] swilly22 commented on #40
Please install redisgraph-py directly from git:
`pip install git+https://github.com/RedisGraph/redisgraph-py.git`

RedisGraph 2.0 (728080f8d6bf72dc12fd90a98f741dbb0f04b74b)
is yet to be officially released, it introduces a change to the result-set structure which isn't compatible with RedisGraph-py 1.7

[2019-06-10 14:32] swilly22 commented on #41
Please see my answer to #40

[2019-06-10 14:46] andreaBelmont commented on #40
Thank you this issue is resolved

[2019-06-10 14:46] #40 closed

[2019-06-10 14:49] andreaBelmont commented on #41
mhmhm ... your answer to #40 did not solve the issue with the docker container. Now after installing the new redisgrap py I have this error:

[code]

[2019-06-10 15:01] andreaBelmont commented on #41
For your information, updating the docker image to Redis 5.0.5 (00000000/0) 64 bit does not have any efffect on the error

[2019-06-10 15:11] swilly22 commented on #41
Please pull the edge version of RedisGraph from dockerhub
`docker run -p 6379:6379 -it --rm redislabs/redisgraph:edge`

[2019-06-10 17:36] andreaBelmont commented on #41
Still not quite there. This time the test file above does not raise any expections, however the result of pretty_print is now what is expected

[code]

[2019-06-11 08:59] swilly22 commented on #41
the result-set is returning empty as the query is looking for a connection between a person and a country, but the graph been created doesn't contains any connections.

I've updated the test file:

[code]

[code]

[2019-06-11 08:59] #41 closed

[2019-06-14 13:46] psheltz commented on #25
I am receiving syntax errors like this on Node/Edge properties as well. I am using protocol buffers to encode objects as strings and placing them as properties. For example, consider a simple protobuf specification:
[code]
I can create the object in python with
`t = Test1(a='a',b='b',c='c',d='d')`
and serialize to a python `str` using:
`t.SerializeToString()`
`>> '\n\x01a\x12\x01b\x1a\x01c"\x01d'

[2019-06-14 17:44] swilly22 commented on #25
Hi @psheltz, parser replacement has been in the workings for awhile now and should be ready within a number of 2-3 weeks.

[2019-06-27 15:02] Guttz commented on #40
For the ones using Docker Images the same problem will appear if you're using the latest image.

To comply with redisgraph-py:1.7, **you should use redislabs/redisgraph:1.2.2**.

[2019-07-02 17:35] Guttz opened #42 "Properties conversion in the Redis-set response"
When converting the properties with the new redis-set format, I'm getting properties strings with the byte annotation inside the dict keys and values instead of decoded.

![image](https://user-images.githubusercontent.com/11739405/60533583-57b62500-9cd6-11e9-8221-fe280c864d9d.png)

Investigating a bit I found(query_result.py : 125):
![image](https://user-images.githubusercontent.com/11739405/60532

[2019-07-02 18:07] Guttz commented on #42
Also, in the second property above, the value of "operations" has both` "` and` ' `switched which makes a bit harder to use some string manipulation.

[2019-07-03 04:29] swilly22 commented on #42
Hi @Guttz,
When setting up your Redis connection try specifying: `r=Redis(decode_responses=True)`

Please let me know if that helped.

[2019-07-03 12:42] Guttz commented on #42
Hey @swilly22, it would make sanse for that to solve the problem. However, when doing that the following happens:

[2019-07-03 12:52] Guttz commented on #42
Hey @swilly22, it would make sense for that to solve the problem. However, when doing that the following happens:

[code]

That happens because all statistics come as str already. Did a quick fix to see if that's the only problem:

![image](https://user-images.githubusercontent.com/11739405/60592730-9ea82700-9d77-11e9-8bf0-e53d298b5876.png)

With that, no error is thrown but the result-set convers

[2019-07-03 15:36] jeffreylovitz commented on #42
Hi @Guttz,

It looks like the `redisgraph-py` package installed in your 3.6 environment is an older version, which won't properly handle the new result format. (The error reported on line 57 refers to code that was replaced in #28).

Can you try replacing the older package with one built from source? From the `redisgraph-py` root, this will require some command like `pip install --user .`

If this

[2019-07-04 18:42] Guttz commented on #42
Hey @jeffreylovitz, you're right. I forgot to rebuild after checking out the branch to test @swilly22's solution. With his suggestion, it's working now. Thanks!

One last question, when running "MATCH(p) RETURN p.members", for example, **I will not get a result_set**:
`{"members" : "a,b,c.."}`

Instead, I get straight up the string with the value
`"a,b,c.."`

So, every time I query for properties,

[2019-07-05 00:11] jeffreylovitz commented on #42
@Guttz Awesome, glad that worked!

Any query that returns values produces a result set, which is essentially a table that has columns, in order, corresponding to the entities or properties specified in your RETURN clause. A query like:
`"MATCH ()-[e]->(p) RETURN e, p.members"`
Will have the relationship `e` at at the first offset into the result set and the scalar value corresponding to the `membe

[2019-07-05 17:57] Guttz commented on #42
Oh, I understand better now. Thanks a lot for the clarifications @jeffreylovitz.

The issue was solved, I'll keep an eye for updates and the 2.0 release.

[2019-07-05 17:57] #42 closed

[2019-09-09 14:25] swilly22 commented on #25
@psheltz, the parser has been replaced, you can find it on the current master branch or edge docker image.

[2019-09-09 16:26] psheltz commented on #25
Excellent! Does this also require a working v1.99.1 RedisGraph?

[2019-09-10 05:19] swilly22 commented on #25
This will require installing redisgraph-py directly from github:
`pip install git+https://github.com/RedisGraph/redisgraph-py.git`

[2019-09-20 14:07] schwab opened #49 "redis-graph 2.0 support"
Is there a commit with the changes to support the redis-graph 2.0 interface yet?  If not what's the plan to support the new result set format etc?

We are trying to plan when introduce the 2.0 code base and need to know what to expect from the python side of things.

[2019-09-20 14:50] schwab opened #50 "Feature Request: Support for left and right Edge defintions"
Currently, Edge only supports connections in the right direction since the edge __str__ method only outputs the relationships in the format  -[:relation]-> . This makes doing more complicated double relationships impossible using the current edge object.  So, how can we express this MATCH?
 ```(:node_X)-[:relation_1]->(:nodeC)<-[:relation_2]-(:node_Y)```?

We are planning to implement our own expr

[2019-09-20 16:03] jeffreylovitz commented on #49
Hi @schwab ,

The master branch of `redisgraph-py` is entirely compatible with all of the latest RedisGraph features (new result set format, run-time error handling, array types, etc). It's actually the client we use for a lot of our automated testing!

There's not yet a release that includes all this, however. At the moment, you can get this support by installing like so:
`pip install git+https:/

[2019-09-20 18:46] schwab commented on #49
Great... thanks!

[2019-09-20 19:05] swilly22 commented on #50
@schwab
// (:node_X)-[:relation_1]->(:nodeC)<-[:relation_2]-(:node_Y)

[code]

If you commit this graph the pattern you're after will be formed.
If you're after performing matches, then currently the API doesn't abstract that, you'll have to use the `query` function and pass in a query string.

Recall that:
`MATCH (a:node_X)-[:relation_1]->(b:nodeC), (c:node_Y)-[:relation_2]->(b:nodeC)`
is equival

[2019-09-20 19:05] swilly22 commented on #49
@schwab can we close this issue?

[2019-09-20 21:51] #49 closed

[2019-09-20 21:54] schwab commented on #50
Got it.  Then it sounds like spending some time on our own query generator objects won't be a waste of time.

[2019-09-20 21:54] #50 closed

[2019-09-23 00:19] mingen-pan opened #51 "Cannot run a simple query. Need help!"
I am new to RedisGraph. My python version is 3.6.

I have a simple graph: (:Person {name: John}) --[:Work]-->(:Job {type: Software Engineer}).

I tried query at `redis-cli`, and it works fine and return
[code]

However, when I tried this query at `redisgraph-py`, I got an error.

Here is my code,
[code]

The error stack is
[code]

My debugger shows the `response` from `self.redis_con.execute_comma

[2019-09-23 00:31] mingen-pan commented on #51
I just realized `pip install redisgraph` will download version 1.7, which leads to this bug.

When I pip for the latest master branch, problem solved.

[2019-09-23 00:32] mingen-pan commented on #51
I just realized pip install redisgraph will download version 1.7, which leads to this bug.

When I pip for the latest master branch, problem solved.

[2019-09-23 00:32] #51 closed

[2019-10-09 08:30] SrancsikAtBitrise commented on #40
Hey, This issue is still there. @swilly22 's solution solves the problem.

[2019-10-12 09:32] suparek opened #52 "Is it support redisgraph 5.0.5？"
Is it support 5.0.5？

[2019-10-12 09:41] swilly22 commented on #52
Are you referring to Redis version?
If so then yes.

[2019-10-12 09:52] suparek commented on #52
thank you !

[2019-10-12 09:52] #52 closed

[2019-10-18 14:15] jxf1002 commented on #25
@swilly22 Does it work for Chinese characters already?
I've tried newest RedisGraph and redisgraph-py but get an error.
`redis.exceptions.ResponseError: errMsg: Invalid input '�': expected a property name line: 1, column: 43, offset: 42 errCtx: ...E (lqicohssma:person{name:"John Doe",年龄:33,gender:"male",status:"singl... errCtxOffset: 40`

[2019-10-31 11:17] schwab commented on #4
Checkout RedisInsight which has a graph visualization when you return nodes and relationships in a query.

[2019-11-03 21:55] DvirDukhan opened #54 "add classes API documentation"

[2019-11-11 16:56] mdecuir opened #57 "Crash on query with a syntax error regarding an indexed property"
While trying to figure out the proper syntax for using the IN operator in a WHERE clause, I came across a pattern that consistently would cause RedisGraph to crash.

I am running on the edge build of RedisGraph.

When I have an index on a property and submit a query with a where clause of the form `WHERE n.name IN 'name'`, the server will consistently crash with the below stack dump.  When I run t

[2019-11-11 20:56] jeffreylovitz commented on #57
@mdecuir Thanks for the report! This query should emit the same error regardless of whether the property is indexed or not, we should have a fix in shortly. We'll report back here, but the bug and its fix will be on https://github.com/RedisGraph/redisgraph.

The IN operator always expects to work on an array, so the simplest syntax looks like:
`MATCH (n) WHERE n.name IN ['name1', 'name2'] RETURN n

[2019-11-11 21:49] mdecuir commented on #57
The reason I ran into this is because the documentation I could find did not indicate how to wrap the values for an IN predicate.

Incidentally, this also might be a distinct bug, but when I have an IN predicate on an indexed property, even with the correct syntax, I am getting no results back from the query.  I can still do equality checks on the indexed property without issue, but I don't know i

[2019-11-11 22:56] jeffreylovitz commented on #57
@mdecuir Those were actually two distinct issues, with the latter specifically affecting string properties only. I've resolved that and fixed the error reporting in this PR: https://github.com/RedisGraph/RedisGraph/pull/735

We'll have it merged soon! The enhancement that allowed for index scans to utilize IN filters is quite new, it looks like we had some kinks to iron out still. Sorry about that

[2019-11-12 05:26] swilly22 commented on #57
@mdecuir, I've merged @jeffreylovitz fix, can you please verify? thank you.

[2019-12-23 21:53] jrozentur opened #63 "index out of range on node insert"
Installed an official docker of redisgraph, and latest redisgraph_py==1.7 from pypl.
Inserting a single node fails on commit, because result does not have statistics (response[1]) - len(response) == 1:
(Pdb) response
[[b'Nodes created: 1', b'Query internal execution time: 0.548200 milliseconds']]

File "/orbital/base/user_service/src/py/v2/engine/redis_folder_graph.py", line 65, in add_folder

[2019-12-24 07:41] swilly22 commented on #63
Hi @jrozentur,
Unfortunately for the time-being (until RedisGraph 2.0 is released) the official RedisGraph-py package (PYPI) isn't compatible with the latest docker image of RedisGraph, please install RedisGraph-py directly from github.

[2019-12-27 03:48] fdrong opened #64 "python3 stat.decode() error"
Traceback (most recent call last):
redisgraph/query_result.py", line 45, in _retrieve_data_from_statistics
    self.LABELS_ADDED: self._get_value(self.LABELS_ADDED, statistics),
  File "/redisgraph/query_result.py", line 57, in _get_value
    stat = stat.decode()
AttributeError: 'str' object has no attribute 'decode'

[2019-12-27 10:02] s506795003 opened #65 "Qs in node Create"
Dear Sir
I wanna create a node with multiple labels.
Could you give me a hand in this space with an example?
Thanks

[2019-12-28 12:40] swilly22 commented on #65
Hi @s506795003,
Unfortunately currently a node can be associated with just single label.

[2019-12-28 12:41] swilly22 commented on #64
Hi @fdrong, can you please share against which version of RedisGraph are you working?

[2019-12-28 20:36] B-Stefan opened #66 "Feature Request: Support double dot param names"
Thanks for all the work on this project!

I tried to integrate RedisGraph into an existing project((prov-db-connector)[https://github.com/DLR-SC/prov-db-connector]) and got an unexpected error:

The following command with params will cause an exception because the param name contains and `:`

## Example to reproduce
[code]
The code above produces the following query and exception

## Exception
[co

[2019-12-30 01:53] fdrong commented on #64
https://github.com/RediSearch/RediSearch  master version.
change it:
"/redisgraph/query_result.py", line 57, in _get_value
stat = stat.decode()
replace:
if isinstance(stat, bytes):
    stat = stat.decode()
it works

[2019-12-30 08:27] swilly22 commented on #64
I'm a bit confused you've referred to RediSearch in your link above, is that by mistake?

[2019-12-30 12:36] #65 closed

[2020-03-17 09:00] DvirDukhan commented on #64
@fdrong
I'm closing this issue. If you think that there is still an issue please re-open it.

[2020-03-17 09:00] #64 closed

[2020-03-17 09:50] DvirDukhan commented on #63
@jrozentur
I'm closing this issue, as we are past the release of RedisGraph 2.0.
If you still encounter problems please re-open this issue.

[2020-03-17 09:50] #63 closed

[2020-03-17 10:03] DvirDukhan commented on #57
@mdecuir
I'm closing this issue, I believe it is not valid.
If you think it is still valid please re-open it.

[2020-03-17 10:03] #57 closed

[2020-03-17 10:52] #30 closed

[2020-03-17 10:57] #32 closed

[2020-03-17 11:00] #15 closed

[2020-03-17 11:08] #31 closed

[2020-03-17 11:13] DvirDukhan commented on #25
@XufengXufengXufeng @schwab @psheltz
I'm closing this issue. If you think it is still valid please re-open it.

[2020-03-17 11:13] #25 closed

[2020-03-17 11:15] DvirDukhan commented on #16
@schwab
I'm closing this one.
If it is relevant, please re-open.
Thanks!

[2020-03-17 11:15] #16 closed

[2020-03-17 19:04] #14 closed

[2020-03-17 19:46] swilly22 commented on #66
Generally speaking including `:` within the parameter name is a bit confusing
as a parameter is defined as a key `:` value pair.
Assuming setting the parameter works, how would you refer to it?
`RETURN $prefix:purpose` probably won't work,
This is what I'm getting from Neo4j:

[code]

[2020-03-17 19:49] B-Stefan commented on #66
Yeah, I agree, it is not best-practice but still allowed to address via ``.
Example query I wrote 2 years ago:

[code]

[2020-04-28 05:15] DrPyser commented on #54
Yes, some basic autogenerated API docs would be great to help fully exploit this library.

[2020-04-29 06:30] DrPyser opened #73 "_AR_EXP_UpdateEntityIdx error when adding nodes to graph"
Hi!

[code]

I'm getting this error while trying to create a bunch of nodes, pretty basic stuff. The error was a bit cryptic for me,  and I didn't find anything googling it, documentation-wise or similar question answered. Well, except the redisgraph code:

https://github.com/RedisGraph/RedisGraph/blob/0cf50df86d5846c1eba39b2c0fcf1f500c25abf2/src/arithmetic/arithmetic_expression.c#L327-L348

My gu

[2020-04-29 12:25] swilly22 commented on #73
Hi @DrPyser,
I agree, we should improve our error reporting,

Would you mind letting us know what does `a` stands for in:
[code]

I would like to see the actual query which was issued, one way of finding out is to have `redis-cli` running with the `MONITOR` command and then run your python script. you should see all of the commands received by your redis-server in the monitor.

[2020-04-30 14:45] DrPyser commented on #73
[code]
Basically, I'm loading data from a csv and creating "account" entities. Some attributes will be null.

[2020-04-30 14:46] DrPyser commented on #73
An extract from the actual cypher query:
[code]
I guess it should be converting the `None` to a `null`, right?

[2020-04-30 15:54] jeffreylovitz commented on #73
Hi @DrPyser,

`null` is a somewhat tricky beast in Cypher, and RedisGraph is not totally consistent in this respect.

The main problem is that `null` is _not_ actually allowed by Cypher to be the value of a property, though both the bulk loader and the `CREATE` clause will allow null values to be set (which is an error on our part).

When you perform property accesses on non-existent properties, `

[2020-05-01 04:21] DrPyser commented on #73
Okay, I got it. Thanks!

[2020-05-06 11:39] debadityamandal opened #74 "ResponseError: unknown command 'GRAPH.QUERY'"
I was executing redis_graph.commit().I got following error-
ResponseError                             Traceback (most recent call last)
<ipython-input-4-33110748cca6> in <module>
      5 edge=Edge(john,"visited",japan,properties={"name":"pleasure"})
      6 redis_graph.add_edge(edge)
----> 7 redis_graph.commit()

~/.local/lib/python3.6/site-packages/redisgraph/graph.py in commit(self)
     94

[2020-05-06 11:43] gkorland commented on #74
@debadityamandal it usually indicates the the RedisGraph module wasn't loaded.
How did you run the redis-server?

[2020-05-06 11:43] swilly22 commented on #74
Please make sure redis-server has been loaded with the RedisGraph modules.
See [docs](https://oss.redislabs.com/redisgraph/#loading-redisgraph-into-redis)

[2020-05-06 11:52] debadityamandal commented on #74
@gkorland I started the redis-server by executing following command-
sudo systemctl restart redis.service
I was using following instructions in python
r=redis.Redis()
redis_graph=Graph("Social",r)

[2020-05-06 12:00] gkorland commented on #74
@debadityamandal you should edit the redis.conf first and give it the path redisgraph so file.
[code]

[2020-05-06 14:45] debadityamandal commented on #74
Thank you all for helping me

[2020-05-06 14:45] #74 closed

[2020-05-26 03:31] danieljue opened #75 "Response Error when committing large numbers of nodes/edges at once."
I'm running the current docker image in Windows.  I discovered this problem when my program encountered a large book and tried to ingest sentences from it.  I was able to reproduce the problem with a more simple example in a jupyter notebook.

[code]

If the range is only 9040, no errors.  If I increase it to 9041 or higher, I get this error:

Error
ResponseError: errMsg: Invalid input 'J': expect

[2020-05-26 05:50] swilly22 commented on #75
Hi @danieljue thank you for reporting,
you've probably hit RedisGraph parser buffer size limit.

We should commit/flush a graph object in batches, would you be interested in contributing a PR?

[2020-05-26 16:39] danieljue commented on #75
Thanks!  I looked on github and maybe there are some ideas that can be borrowed from here:

https://github.com/RedisGraph/redisgraph-bulk-loader/blob/master/redisgraph_bulk_loader/bulk_insert.py

Their actual bulk insert library doesn't work well for my use case, because the data is not in a CSV type of format, but I saw some code in there relating to buffer size.

Perhaps there's a way to allow a

[2020-06-10 18:01] sahassan013 opened #77 "Can't run or load redisgraph module"
From the project directory I'm running :
[code]
I am getting errors anytime a redisgraph function is being called.
Running test.py shows 7 similar errors starting with :
[code]

I have installed redisgraph by running:
[code]

Running the example code also results in the same error.

Any idea what might be wrong?

[2020-06-10 18:11] #77 closed, assigned to nobody

[2020-06-22 17:44] DvirDukhan opened #79 "allow execution plan query with params"

[2020-07-06 14:14] #79 closed

[2020-07-11 08:07] boris-42 opened #81 "Using Nodes to update existing records"
Currently, this framework supports only creation of new nodes, but if we want to update some properties, manual requests are required.

As far as I understand, there are 2 approaches here, one through MERGE (to ensure that record exists and update) or MATCH (to update record only if it exists) and it's recommend to use external ids.

The proposal is to add to methods to graph:
```def update(node:

[2020-07-11 08:13] boris-42 opened #82 "Let's improve graph.commit() performance using redis.pipeline() to sync state"
Running commands one by one is slow as you have TCP overhead. Which can cause 10-100 performance degradation.
To avoid it there are redis pipelines https://redis.io/topics/pipelining

Redis pipeline in python client witll return all results as array of responses, so change in redisgraph should be minimal to support them.

Are you OK if Implement this?

[2020-07-11 08:29] boris-42 opened #83 "assert shall not be used in production code (control flow)"
Asserts should be used only in tests, and should not be used in production code, like here and in other places
[code]

There are 2 problems:
1) If you run with python -o, all these asserts will be ignored and code will stop working
2) It's a best practice to use own Exceptions or at least default like ValueError with human readable messages

[2020-07-11 20:25] gkorland commented on #82
First thanks for the suggestion to contribute the code!

[2020-07-11 22:19] boris-42 commented on #82
@gkorland First of all great that this is something on mind ;).

**So you suggest to implement something like bulk_queries(queries) ?**

Another thing is this place of code (as well please take a look at #81 )
[code]

The problem  is that it only works for creation of things but not updates.
As soon as we add functionality to update/delete we would switch to multiple Graph commands e.g.:
MATCH + D

[2020-08-05 00:40] sliedes opened #84 "redisgraph-py does not quote strings sent to redis"
Besides being a nuisance, I assume this allows injection attacks.

[code]

[code]

[2020-08-15 23:53] vsraptor commented on #4
quick and dirty .. for starters ..

def draw(triple_lst):
	g = nx.Graph()
	for triple in triple_lst :
		n1 = g.add_node(triple[0])
		n2 = g.add_node(triple[1])
		g.add_edge(triple[0],triple[1], val=triple[2])
	nx.draw(g, with_labels=True, font_weight='bold')
	return g

![Figure_1](https://user-images.githubusercontent.com/521677/90323574-01836000-df31-11ea-8a1b-bfbdd5043fc4.png)

[2020-08-26 02:26] loveJasmine opened #85 "unknown command `GRAPH.QUERY` failed"
ub16_prj/redisLab % python demoGraph.py
Traceback (most recent call last):
  File "demoGraph.py", line 52, in <module>
    redis_graph.commit()
  File "/usr/local/lib/python3.8/site-packages/redisgraph/graph.py", line 96, in commit
    return self.query(query)
  File "/usr/local/lib/python3.8/site-packages/redisgraph/graph.py", line 130, in query
    response = self.redis_con.execute_command("GRAP

[2020-08-26 06:34] DvirDukhan commented on #85
@loveJasmine
Is the graph module loaded?

[2020-08-26 08:11] loveJasmine commented on #85
yes, I forget load the module,

but it has another issue

[2020-08-26 08:11] #85 closed

[2020-08-26 08:12] loveJasmine opened #86 "No support for nested multi bulk replies with depth > 7"
ub16_prj/redisLab % python demoGraph.py
+-----------+----------+--------------+-----------+
| b'p.name' | b'p.age' | b'v.purpose' | b'c.name' |
+-----------+----------+--------------+-----------+
|  John Doe |    33    |   pleasure   |   Japan   |
+-----------+----------+--------------+-----------+

Cached execution 0.0
internal execution time 0.47
+-----------+----------+--------------+----------

[2020-09-29 20:57] aleckushner opened #90 "Querying with "UNION" is causing a parsing issue when setting a column null in one clause."
To summarize, if a union is desired where one column is null for one of the query clauses, there does not seem to be a way to get the parser to work upon querying because it gets thrown off by the differing types and the parser's internal header only allowing one type.

To elaborate on the specific example experiencing this issue, there are nodes with labels "person" or "role". Relationships are "

[2020-11-20 01:50] YaphetKG opened #99 "GRAPH.RO_QUERY Support"
When trying to use this client in clustered env, can't seem to make it work on worker Redis nodes. Would be nice if there is some way to override GRAPH.QUERY. I think this relates to https://github.com/RedisGraph/RedisGraph/issues/343

[2020-11-22 09:28] gkorland commented on #99
@YaphetKG are you trying to query a replica?

[2020-11-22 15:39] YaphetKG commented on #99
Hi @gkorland , yes

[2020-11-23 19:07] #99 closed

[2020-11-23 19:34] swilly22 commented on #90
Testing on the current version of RedisGraph 2.2.8
I've ran the simplified query: `RETURN null AS A, 3 AS B UNION RETURN 1 AS A, 2 AS B`

Snippet:
[code]

And this is the result I got:

[code]

Is it possible that you're using an older version of RedisGraph or RedisGraph-py ?

[2020-11-23 22:10] YaphetKG opened #103 "GRAPH.RO_QUERY Not being used when verison mistmatch causes refresh schema"
Hi @gkorland , Hi @swilly22 , Thanks for reviewing  #99 ... I was testing this new with a replica and I got into a similar issue. Where version mistmatch exception was causing the Graph._refresh_schema() which makes a procedure call, but this time with GRAPH.QUERY method

[2020-11-24 07:01] swilly22 commented on #103
#104 should resolve this issue.

[2020-11-24 07:01] #103 closed

[2020-12-06 14:12] B-Stefan commented on #66
Just want to ask if this issue is still open or do you think a new evaluation would be promising due to a complete rewrite/improvement of the library during the last year?

[2020-12-07 07:14] swilly22 commented on #66
Sorry @B-Stefan this issue is still open, I'm able to create an attribute with `:` in its name but was unable to define a parameter with `:` in its name.

[2020-12-25 10:58] isidentical opened #107 "Mutating properties dictionary after node creation causes problems when they all point to the same object"
[code]

[2021-01-19 16:55] gomesian opened #119 "fails to commit large batch inserts"
Hi Team,

Was trying to understand the limits of a batch inserts with this library.
Seams somewhere between 6-8k nodes (3 to 4k edges) fails with:

![image](https://user-images.githubusercontent.com/73147163/105065654-b6bbc600-5a43-11eb-824b-2c7e83f13401.png)

I don't mind breaking up and batching updates of ~10k required node/edges every hour, but need help understanding what is breaking here - s

[2021-01-19 17:10] jeffreylovitz commented on #119
Hi @gomesian,

This error is caused by a buffer size limit in RedisGraph's parser utility. A workaround can be found here - https://github.com/RedisGraph/RedisGraph/issues/1486#issuecomment-742581130 . Alternately, you can create entities in a series of smaller batched queries by periodically making calls to `redis_graph.flush()` in your create loop.

[2021-01-19 17:34] gomesian commented on #119
Thanks, batching and flush() makes sense then

[2021-01-19 17:34] #119 closed

[2021-01-19 21:06] gomesian opened #120 "Missing MERGE - ON CREATE SET, ON MATCH SET"
Love the Python library, but couldn't find arg options for using
MERGE with ON CREATE SET, ON MATCH SET functions.

https://oss.redislabs.com/redisgraph/commands/#merge

Seams to be be the best way to Bulk update..
Any plans to add? Or did I miss it somewhere...

eg.
MERGE (p:Person {name: 'Michael'})
ON CREATE SET p.created = 'timestamp', p.status = 'created', p.toreplace = 'replaceme'
ON MATCH S

[2021-05-06 07:43] GnaneshKunal opened #123 "Unknown command GRAPH.RO_QUERY"
The read only command GRAPH.RO_QUERY is not supported in older versions of redisgraph.  Using redisgraph 2.0.0
[code]

logs:
[code]

[2021-05-06 08:27] gkorland commented on #123
@GnaneshKunal you're right it's not supported in RedisGraph 2.0. What is the question?

[2021-05-06 09:25] GnaneshKunal commented on #123
The library is not usable for versions of redisgraph that doesn't have GRAPH.RO_QUERY command. I have made a PR for the same: #124. Check it once.

[2021-05-07 12:48] #123 closed

[2021-05-23 07:26] AvitalFineRedis commented on #120
@gomesian Try to use is the query string. It should work :)

[2021-05-24 07:34] swilly22 opened #129 "close connection on graph object destruction"
[code]

[2021-05-25 08:08] #120 closed

[2021-05-30 09:49] #84 closed

[2021-05-30 10:31] #107 closed

[2021-05-31 19:31] swilly22 commented on #86
Please make sure to pip install `hiredis`
[code]
will add it as one of the dependencies

[2021-06-01 06:39] #86 closed

[2021-06-05 18:09] swilly22 opened #132 "support dict as a parameter value"
[code]

Need to remove `'` from dict keys within `build_params_header` as Cypher doesn't expects dict keys to be wrapped in quotation marks.

[2021-06-22 11:32] #129 closed

[2021-06-22 20:01] #54 closed

[2021-07-19 10:22] nehz opened #134 "Is MULTI supported?"
When using redis.pipeline(), graph.query() seems to block?

[2021-07-28 07:38] swilly22 commented on #134
Hi @nehz,
apologies for the late response,
unfortunately no RedisGraph queries shouldn't be executed under MULTI-EXEC

[2021-07-28 09:44] nehz commented on #134
No worries, thanks!

[2021-07-28 09:44] #134 closed

[2021-07-29 14:31] micromaomao opened #139 "`util.quote_string` does not properly escape everything"
Currently it only replaces `"` and nothing else (e.g. `\` itself is left as-is). This leads to storing incorrect data and also injection vulnerability when passing properties to `Node`:

[code]

I was not able to find a way to pass parameterized query in the protocol level (hence avoiding the use of `quote_string` in the first place), nor could I find any specification on the escape syntax of Cyph

[2021-08-07 02:10] lucascassiano commented on #85
hi, thanks for making this lib.

I'm with a similar issue, even tried a direct call to the docker image:

![image](https://user-images.githubusercontent.com/5508142/128584540-5662a102-eae9-46e3-96a5-8c5481fab4cf.png)

- running `redis-cli` inside the docker container. Everything seems fine
![image](https://user-images.githubusercontent.com/5508142/128584646-2c17eab1-a275-4a03-a12e-98b5d5b784b1.png

[2021-08-09 08:10] AvitalFineRedis commented on #132
@swilly22 Can you please write how the params in the example here look in the query?

[2021-08-09 08:26] AvitalFineRedis commented on #132
`CYPHER props={v2:10} ` ?

[2021-09-13 16:03] mdecuir commented on #139
I just encountered what I believe to be the same issue where I was storing a json escaped string into a property.

From my investigation into the issue, my conclusion was that applying json.dumps to all string values consistently produced values that redisgraph would interpret as expected.

[2021-09-19 16:24] #132 closed

[2021-10-20 13:29] AviAvni opened #145 "Add multi label support"
Latest version of RedisGraph support node with multiple labels this needs to be reflected in the client
when creating a node and when parsing a result that contains node

[2021-10-31 11:12] swilly22 opened #147 "structured execution plan"
switch from string representation to a more structural one

[2021-12-03 13:24] narayanacharya6 opened #151 "Response time out with client connected using `unix_socket_path` when using python client but not with `redis-cli`"
Response time out with client connected using `unix_socket_path` when using python client but not with `redis-cli`.

I have a `redis-server` instance running locally accepting connections via unix socket.`redisgraph.so` was built by compiling the  [RedisGraph](https://github.com/RedisGraph/RedisGraph) project. `redis-server` was started as:

[code]

I create the python client as:
[code]

My querie

[2021-12-03 17:21] narayanacharya6 commented on #151
Managed to isolate the instance where the above process is getting stuck. It blocks after it reads this from the buffer:

`b'+\'South Korea s SK Innovation to file patent infringement lawsuit against LG Chem in U.S. South Korea\'"\'"\'s SK Innovation to file patent infringement lawsuit against LG Chem in U.S. \n'`

This is the value printed in the `data` variable at line https://github.com/redis/r

[2021-12-05 12:01] swilly22 commented on #151
Hi @narayanacharya6 thank you for reporting! would you mind sharing a dataset with which we can reproduce this behavior?

[2021-12-05 12:46] narayanacharya6 commented on #151
Hey @swilly22, due to data privacy reasons I am unable to share the data/query that led to this. I will try to reproduce this issue with dummy data and report back. Meanwhile, do you mind answering a couple of questions, which I anticipate to be the culprit (but have no proof of at the moment)?

1. Can having `\n` (like above) or `\r` or other special characters in my response fields lead to incon

[2021-12-06 06:05] narayanacharya6 commented on #151
Ok, I think its because of `\n` in the response fields.

Minimal example to reproduce inspired by the getting started example here - https://docs.redis.com/latest/modules/redisgraph/redisgraph-quickstart/ is below. The only change I've introduced in the example is added `\n` to the name `Valentino Rossi`.

1. Start your redis-server with redisgraph module and unix socket.
``
2. For redis-cli:
a. S

[2021-12-06 08:52] swilly22 commented on #151
This is what I'm getting on my dev machine:
[code]

Test script:
[code]

Results:
[code]

Both connections produce the same result-set, I'm adding @chayim to this issue maybe he'll have an idea,
@narayanacharya6 would you mind installing `hiredis` when this python package is available `redis-py` switches to it in-order to perform redis response parsing.

[2021-12-06 09:00] narayanacharya6 commented on #151
@swilly22 Installing `hiredis` makes the difference. With hiredis, I do get back responses as expected.
Keeping this issue open in case we expect the same behavior without `hiredis` as well.

[2021-12-06 10:42] swilly22 commented on #151
Thank you @narayanacharya6 for validating this, we will look into the none `hiredis` case
Will you be running with `hiredis` ?

[2021-12-06 12:47] narayanacharya6 commented on #151
@swilly22 For now, I can continue working with `hiredis` installed. I haven't done rigorous testing yet - but so far seems fine.

[2021-12-07 11:31] narayanacharya6 opened #154 "Support for batching of queries"
This is more of a question than an issue. I was wondering if there is any way to batch my queries in order to gain some performance.

I tried to use `UNWIND` as suggested here - https://github.com/RedisGraph/RedisGraph/issues/1293#issuecomment-675691472 but ran into a bug(?), reported here https://github.com/RedisGraph/RedisGraph/issues/2057, with redis-server crashing.

[2021-12-07 12:07] swilly22 commented on #154
Have you considered using multiple connections, splitting your queries among?
Although I would stick with the suggested `UNWIND` approach figuring out this issue you've encountered.

[2021-12-08 07:52] narayanacharya6 commented on #154
I'll take a look at having multiple connections.

What about using pipelines - https://redis.io/topics/pipelining? Please correct me if I am wrong but looking at the source code, I don't see we support using pipelines with redisgraph queries at the moment? Is this intentional?

[2021-12-11 13:53] snus-kin opened #155 "Tuples don't work in queries"
Example:
[code]

Returns:
[code]

[2021-12-11 13:56] #155 closed

[2021-12-27 20:59] MelomanCool opened #156 "Node equality doesn't check multiple labels"
https://github.com/RedisGraph/redisgraph-py/blob/e212cd434c842d7d5412015e1d578e9eacdf2430/redisgraph/node.py#L58

[2022-01-05 09:04] #139 closed

[2022-01-06 11:52] B-Stefan commented on #66
Happy new year to everybody.  I just revisited an open issue on the [prov-db-connector](https://github.com/DLR-SC/prov-db-connector), and I want to ask if this issue is still open or resolved in a release of redisgraph-py?

[2022-01-07 07:13] swilly22 commented on #66
Hi, I believe the issue is still open, @jeffreylovitz would you mind taking a look ?

[2022-01-07 18:29] jeffreylovitz commented on #66
Hi @B-Stefan,

This is a parser-level issue, rather than being scoped to redisgraph-py.

I've written a fix, and we should be able to merge it into the master branch within a few days!

[2022-01-13 17:46] MelomanCool commented on #156
Closing in favor of #145

[2022-01-13 17:46] #156 closed

[2022-01-13 18:13] MelomanCool commented on #145
It seems that the support was added in #144?

I've also noticed this condition, which should probably be updated too.
https://github.com/RedisGraph/redisgraph-py/blob/e212cd434c842d7d5412015e1d578e9eacdf2430/redisgraph/node.py#L58

Looks like it would be pretty easy to fix. I think just changing from `label` to `labels` would do the trick.

I don't mind creating a PR. There probably should also be

[2022-01-17 14:16] #147 closed